@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Reset and common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Outfit", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Logo */
.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo {
  color: #333333;
  width: 11.001rem;
  height: 1.8703rem;
}

.logo-square {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 0.2rem;
  background: var(--primary, #457d61);
}
/* End of logo */

.lets-talk-btn {
  display: flex;
  padding: 1.2rem 2.4rem;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  border-radius: 7rem;
  border: none;
  background: var(--primary, #457d61);
  color: var(--white, #fff);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
  cursor: pointer;
}

/* CTA box */
.cta-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37.1rem;
  height: 33.1rem;
  border-radius: 3.2rem;
  background: var(--mid-bg, #f4f4f4);
  overflow: hidden;
}

.cta-heading {
  color: var(--text, #333);
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
}

.cta-heading span {
  color: #457d61;
}

.cta-box-column {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  z-index: 10;
}

.cta-box-btn {
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;
}

.join-community-btn {
  display: flex;
  padding: 1.2rem 2.4rem;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  border-radius: 7rem;
  border: 0.1rem solid var(--primary, #457d61);
  background: var(--light-bg, #fcfcfc);
  color: var(--primary, #457d61);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
  cursor: pointer;
}

.cta-text {
  display: flex;
  width: 30.7rem;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  color: var(--text, #333);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

.blob {
  position: absolute;
  width: 120%;
  height: 120%;
  transform: translate(-9rem, -9rem);
  flex-shrink: 0;
  background-image: url("./images/blob.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
/* End of CTA box */

/* Infinite rotation */
.infinite-rotation-wrapper {
  position: relative;
  width: 10rem;
  height: 10rem;
}

.infinite-rotation-heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.infinite-rotation {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/Infinite Rotation.svg");
  background-repeat: no-repeat;
  background-position: center;
  animation: rotateText 12s linear infinite;
}

@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* End of infinite rotation */
/* End of reset and common styles */

/* Header */
header {
  background: var(--white, #fff);
  display: flex;
  width: 100%;
  height: 8.8rem;
  padding: 1.8rem 6.4rem;
  justify-content: center;
  align-items: center;
  gap: 25.3rem;
}

/* Navbar */
.nav-list {
  display: flex;
  margin-bottom: 0;
}

.nav-list-item {
  height: 8rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.nav-list-item a {
  color: var(--text, #333);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}

.nav-list-item i {
  width: 1.6rem;
  height: 1.6rem;
  color: #333333;
  padding-left: 0.5rem;
}

.nav-dropdown-wrapper {
  width: 100%;
  height: 35rem;
  position: absolute;
  top: 8rem;
  left: 0;
  padding: 0 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--light-bg, #fcfcfc);
  opacity: 0;
  z-index: 100;
  visibility: hidden;
  transition: all 0.5s;
}

.nav-dropdown {
  width: 80%;
  height: 17rem;
  flex-wrap: wrap;
}

.nav-dropdown-about-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-dropdown-item {
  display: flex;
  flex-direction: column;
}

.nav-dropdown-item:last-child() {
  margin-bottom: auto;
}

.nav-dropdown-item h3 {
  display: flex;
  height: 2.4rem;
  align-items: center;
  gap: 1.6rem;
  align-self: stretch;
  color: #252525;
  font-size: 2rem;
  font-weight: 300;
  line-height: normal;
}

.nav-dropdown-item h3 span {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  color: var(--text, #333);
  font-weight: 500;
  line-height: 150%;
}

.nav-dropdown-item p {
  display: flex;
  padding-left: 0;
  align-items: flex-start;
  gap: 1rem;
  margin-left: 3.6rem;
}

.slack-box,
.udemy-box {
  position: relative;
  width: 39.467rem;
  height: 32rem;
  border-radius: 3.2rem;
  overflow: hidden;
}

.slack-box-outer-wrapper,
.udemy-box-outer-wrapper {
  position: relative;
  width: 39.4667rem;
  height: 32rem;
  flex-shrink: 0;
  border-radius: 3.2rem;
  background: var(--mid-bg, #f4f4f4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slack-box-inner-wrapper,
.udemy-box-inner-wrapper {
  width: 33rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.6rem;
  z-index: 101;
}

.slack-logo {
  width: 14.9854rem;
  height: 4rem;
}

.udemy-logo {
  width: 10.5rem;
  height: 4rem;
}

.slack-heading,
.udemy-heading,
.slack-text,
.udemy-text {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

.slack-heading h3,
.udemy-heading h3 {
  color: var(--text, #333);
  font-size: 2rem;
  font-family: Outfit;
  font-style: normal;
  font-weight: 500;
  line-height: 3rem;
}

.slack-text p,
.udemy-text p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text, #333);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

.slack-btn,
.udemy-btn {
  display: flex;
  padding: 1.2rem 2.4rem;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  border-radius: 7rem;
  border: 0.1rem solid var(--primary, #457d61);
  background: var(--light-bg, #fcfcfc);
  color: var(--primary, #457d61);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
}

.slack-box .blob,
.udemy-box .blob {
  transform: translate(-11rem, -47rem);
}

.latest-industry-insights {
  width: 39.467rem;
  height: 17.4rem;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.latest-industry-insights-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}

.latest-industry-insights-wrapper h3 {
  color: var(--text, #333);
  font-family: Outfit;
  font-style: normal;
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
}

.latest-industry-insights-wrapper h3 span {
  color: var(--primary, #457d61);
}

.latest-industry-insights-wrapper p {
  color: var(--text, #333);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}
/* End of navbar */
/* End of header */

/* Home page */
.home-section-1 {
  width: 100%;
  height: 70.8rem;
  display: flex;
  padding: 6.4rem;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  background: var(--white, #fff);
}

.home-section-1-content {
  width: 62.9rem;
  height: 52.2rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3.2rem;
}

.home-section-1-content h1,
.home-section-1-content p {
  width: 62.9rem;
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.home-section-1-content h1 span {
  color: #457d61;
}

.home-section-1-content p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 150%;
}

.home-section-1-highlight-card {
  display: flex;
  padding: 2.4rem;
  align-items: center;
  gap: 2.4rem;
  align-self: stretch;
  border-radius: 3.2rem;
  border: 0.1rem solid var(--text, #333);
  background: var(--white, #fff);
}

.home-section-1-highlight {
  width: 27.85rem;
  height: 6rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.home-section-1-highlight-emoji {
  display: flex;
  width: 6rem;
  height: 6rem;
  justify-content: center;
  align-items: center;
}

.home-section-1-highlight-emoji img {
  width: 6rem;
}

.home-section-1-highlight p {
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.home-section-1-image-area {
  width: 56.1rem;
  height: 58rem;
  position: relative;
}

.home-section-1-image-1,
.home-section-1-image-2 {
  width: 27rem;
  height: 37.3rem;
  position: absolute;
  border-radius: 2.4rem;
  z-index: 100;
}

.home-section-1-image-1 {
  top: 0;
  right: 0;
}

.home-section-1-image-2 {
  bottom: 0;
  left: 0;
}

.home-section-1-waves {
  width: 35.5rem;
  height: 13.6rem;
  position: absolute;
  top: 4rem;
  left: 2.4rem;
}

.home-section-1-wave {
  width: 35.5rem;
  height: 1.8rem;
  margin-bottom: 2.4rem;
  stroke-width: 0.3rem;
  stroke: var(--secondary, #d6ebdc);
}
/* End of home page */

/* Footer */
footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.footer-columns {
  display: flex;
  padding: 6.4rem;
  align-items: flex-start;
  gap: 11rem;
  align-self: stretch;
  background: var(--white, #fff);
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  flex: 1 0 0;
}

.footer-column-1 {
  display: flex;
  width: 12.525rem;
  gap: 2.4rem;
}

.footer-column .logo {
  width: 7.2rem;
  height: 1.2242rem;
}

.footer-column .logo-square {
  width: 1.2rem;
  height: 1.2rem;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  align-self: stretch;
}

.icon-wrapper {
  display: flex;
  width: 4rem;
  height: 4rem;
  padding: 2.4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  border-radius: 0.8rem;
  background: var(--mid-bg, #f4f4f4);
}

.icon-wrapper i {
  width: 1.6rem;
  height: 1.6rem;
  flex-shrink: 0;
  color: #457d61;
}

.footer-heading {
  color: var(--text, #333);
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
}

.footer-item a {
  color: var(--text, #333);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

.coming-soon {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.coming-soon-label {
  display: flex;
  height: 2rem;
  padding: 0.8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 10rem;
  background: var(--secondary, #d6ebdc);
  color: var(--text-default, #222);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 120%;
}

.footer-bottom {
  display: flex;
  padding: 3.2rem 6.4rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.copyright {
  color: var(--text, #333);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

.company {
  color: var(--text, #333);
  text-align: right;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}
/* End of footer */
