@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Reset and common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Outfit", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
ul,
ol,
dl {
  margin-bottom: 0;
}

/* Logo */
.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
}

.logo {
  color: #333333;
  width: 11.001rem;
  height: 1.8703rem;
}

.logo-square {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 0.2rem;
  background: var(--primary, #457d61);
}
/* End of logo */

/* Header buttons */
.header-btns {
  display: flex;
  width: auto;
  justify-content: flex-end;
  align-items: center;
  gap: 1.6rem;
}

.lets-talk-btn {
  display: flex;
  padding: 1.2rem 2.4rem;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  border-radius: 7rem;
  border: none;
  background: var(--primary, #457d61);
  color: var(--white, #fff) !important;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
  white-space: nowrap;
  transition: background-color 0.3s;
  cursor: pointer;
}

.lets-talk-btn:hover {
  text-decoration: none;
  color: #fff;
  background: var(--tertiary, #1C4B34);
}

.our-services,
.our-social-commitment,
.our-case-studies,
.work-with-us {
  padding: 2.4rem 4rem;
  font-size: 2rem;
  line-height: 120%;
}

.hamburger-btn {
  display: none;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url("./images/hamburger-btn.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

/* End of header buttons */

/* CTA box */
.cta-box {
  width: 37.1rem;
  height: 33.1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3.2rem;
  background: var(--mid-bg, #f4f4f4);
  overflow: hidden;
}

.cta-heading {
  color: var(--text, #333);
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
}

.cta-heading span {
  color: #457d61;
}

.cta-box-column {
  width: 30.7rem;
  height: 15.3rem;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  z-index: 10;
}

.cta-box-btn {
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;
  white-space: nowrap;
}

.join-community-btn {
  display: flex;
  padding: 1.2rem 2.4rem;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  border-radius: 7rem;
  border: 0.1rem solid var(--primary, #457d61);
  background: var(--light-bg, #fcfcfc);
  color: var(--primary, #457d61) !important;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
  cursor: pointer;
}

.join-community-btn:hover {
  text-decoration: none;
  color: #457d61;
}

.cta-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text, #333);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  white-space: wrap;
}
/* End of CTA box */

/* Blob */
.blob,
.blob2 {
  position: absolute;
  width: 120%;
  height: 120%;
  transform: translate(-9rem, -9rem);
  background-image: url("./images/blob.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.blob2 {
  background-image: url("./images/blob2.svg");
}
/* End of blob */

/* Infinite rotation */
.infinite-rotation-wrapper {
  position: relative;
  width: 10rem;
  height: 10rem;
}

.infinite-rotation-heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.infinite-rotation {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/Infinite Rotation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  animation: rotateText 12s linear infinite;
}

@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* End of infinite rotation */

/* Swiper */
.swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}

.swiper-slide-active {
  background-color: #fff;
}
/* End of swiper */

/* Slide in animation on page load */
.overflow-hidden {
  overflow: hidden;
}

.drop-in {
  animation: drop-in 1s ease 200ms backwards;
}

.drop-in-2 {
  animation: drop-in 1.2s ease 500ms backwards;
}

.drop-in-3 {
  animation: drop-in 1.4s ease 800ms backwards;
}

.drop-in-4 {
  animation: drop-in 1.6s ease 1000ms backwards;
}

.drop-in-5 {
  animation: drop-in 1.8s ease 1200ms backwards;
}

.drop-in-6 {
  animation: drop-in 2s ease 1400ms backwards;
}

@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
/* End of slide in animation on page load */
/* End of reset and common styles */

/* Header */
header {
  background: var(--white, #fff);
  display: flex;
  width: 100%;
  height: 8.8rem;
  padding: 1.8rem 6.4rem;
  align-items: center;
  justify-content: space-between;
}

/* Navbar */
.nav-list {
  display: flex;
  margin-bottom: 0;
  z-index: 1000;
}

.nav-list-item {
  height: 8rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}

.nav-list-item:last-child {
  display: flex;
}

.nav-list-item p,
.nav-list-item a {
  color: var(--text, #333);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
  margin: 0;
}

.nav-list-item i {
  width: 1.6rem;
  height: 1.6rem;
  color: #333333;
  padding-left: 0.5rem;
}

.nav-dropdown-wrapper {
  width: 100%;
  height: 35rem;
  position: absolute;
  top: 8rem;
  left: 0;
  padding: 0 10rem;
  display: none;
  align-items: center;
  justify-content: space-between;
  background: var(--light-bg, #fcfcfc);
  z-index: 1000;
  cursor: auto;
}

.nav-dropdown-wrapper .cta-box {
  width: 40rem;
}

.nav-dropdown {
  width: 80%;
  height: 23.7rem;
  flex-wrap: wrap;
}

.nav-dropdown-services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-dropdown-item {
  width: 31.05rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.nav-dropdown-item:last-child() {
  margin-bottom: auto;
}

.nav-dropdown-item h3 {
  display: flex;
  height: 2.4rem;
  align-items: center;
  gap: 1.6rem;
  color: #252525;
  font-size: 2rem;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 0;
}

.nav-dropdown-item h3 span {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  color: var(--text, #333);
  font-weight: 500;
  line-height: 150%;
}

.nav-dropdown-item p {
  display: flex;
  padding-left: 0;
  align-items: flex-start;
  gap: 1rem;
  margin-left: 3.6rem;
  color: var(--sub-text, #677489);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 150%;
  white-space: break-spaces;
}

.slack-box,
.udemy-box {
  position: relative;
  width: 39.467rem;
  height: 32rem;
  border-radius: 3.2rem;
  overflow: hidden;
}

.slack-box-outer-wrapper,
.udemy-box-outer-wrapper {
  position: relative;
  width: 39.4667rem;
  height: 32rem;
  flex-shrink: 0;
  border-radius: 3.2rem;
  background: var(--mid-bg, #f4f4f4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slack-box-inner-wrapper,
.udemy-box-inner-wrapper {
  width: 33rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.6rem;
  z-index: 101;
}

.slack-logo {
  width: 14.9854rem;
  height: 4rem;
}

.udemy-logo {
  width: 10.5rem;
  height: 4rem;
}

.slack-heading,
.udemy-heading,
.slack-text,
.udemy-text {
  display: flex;
  align-items: flex-start;
}

.slack-text,
.udemy-text {
  white-space: break-spaces;
}

.slack-heading h3,
.udemy-heading h3 {
  color: var(--text, #333);
  font-size: 2rem;
  font-family: Outfit;
  font-style: normal;
  font-weight: 500;
  line-height: 3rem;
}

.slack-text p,
.udemy-text p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text, #333);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

.slack-btn,
.udemy-btn {
  display: flex;
  padding: 1.2rem 2.4rem;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  border-radius: 7rem;
  border: 0.1rem solid var(--primary, #457d61);
  background: var(--light-bg, #fcfcfc);
  color: var(--primary, #457d61) !important;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
  cursor: pointer;
}

.slack-btn:hover {
  text-decoration: none;
}

.slack-box .blob,
.udemy-box .blob {
  transform: translate(-11rem, -47rem);
}

.latest-industry-insights {
  width: max-content;
  height: 17.4rem;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.latest-industry-insights-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}

.latest-industry-insights-wrapper h3 {
  color: var(--text, #333);
  font-family: Outfit;
  font-style: normal;
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
}

.latest-industry-insights-wrapper h3 span {
  color: var(--primary, #457d61);
}

.latest-industry-insights-wrapper p {
  color: var(--text, #333);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
/* End of navbar */
/* End of header */

/* Home page */
/* Home page section 1 */
.home-section-1 {
  width: 100%;
  height: max-content;
  display: flex;
  padding: 6.4rem;
  justify-content: space-between;
  align-items: flex-start;
}

.home-section-1-content {
  width: 62.9rem;
  height: 52.2rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3.2rem;
}

.home-section-1-content h1,
.home-section-1-content p {
  width: 100%;
  margin-bottom: 0;
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.home-section-1-content h1 span {
  color: #457d61;
}

.home-section-1-content p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 150%;
}

.home-section-1-highlight-card {
  display: flex;
  padding: 2.4rem;
  align-items: center;
  gap: 2.4rem;
  border-radius: 3.2rem;
  border: 0.1rem solid var(--text, #333);
  background: var(--white, #fff);
}

.home-section-1-highlight {
  width: 27.85rem;
  height: 6rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.home-section-1-highlight-emoji {
  display: flex;
  width: 6rem;
  height: 6rem;
  justify-content: center;
  align-items: center;
}

.home-section-1-highlight-emoji img {
  width: 6rem;
}

.home-section-1-highlight p {
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  white-space: nowrap;
}

.home-section-1-image-area {
  width: 56.1rem;
  height: 58rem;
  position: relative;
}

.home-section-1-image-1,
.home-section-1-image-2 {
  width: 27rem;
  height: 37.3rem;
  position: absolute;
  border-radius: 2.4rem;
  z-index: 10;
}

.home-section-1-image-1 {
  top: 0;
  right: 0;
}

.home-section-1-image-2 {
  bottom: 0;
  left: 0;
}

.home-section-1-waves {
  width: 35.5rem;
  height: 13.6rem;
  position: absolute;
  top: 4rem;
  left: 2.4rem;
}

.home-section-1-wave {
  width: 35.5rem;
  height: 1.8rem;
  margin-bottom: 2.4rem;
  stroke-width: 0.3rem;
  stroke: var(--secondary, #d6ebdc);
}
/* End of home page section 1 */

/* Home page section 2 */
.home-section-2 {
  width: 100%;
  height: max-content;
  display: flex;
  padding: 0 6.4rem 0 6.4rem;
  align-items: center;
  justify-content: center;
  gap: 11rem 0;
  flex-wrap: wrap;
}

.home-section-2-content-wrapper {
  width: 100%;
  height: 57.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.home-section-2-interactive {
  width: 60.8rem;
  height: 57.5rem;
  position: relative;
}

.home-section-2-interactive-card:nth-child(odd) {
  background: var(--mid-bg, #f4f4f4);
}

.home-section-2-interactive-card:nth-child(even) {
  background: var(--secondary, #d6ebdc);
}

.home-section-2-interactive-card {
  position: absolute;
  display: flex;
  width: 20rem;
  height: 20rem;
  padding: 2.4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30rem;
  gap: 2.4rem;
}

.home-section-2-interactive-card-1 {
  top: 11.9rem;
  left: 40.8rem;
}

.home-section-2-interactive-card-2 {
  top: 16.3rem;
  left: 8.3rem;
  z-index: 10;
}

.home-section-2-interactive-card-3 {
  top: 35.9rem;
  left: 0;
}

.home-section-2-interactive-card-4 {
  top: 31rem;
  left: 23.2rem;
}

.home-section-2-interactive-card-5 {
  top: 34.5rem;
  left: 40.2rem;
}

.home-section-2-interactive-card-6 {
  top: 2.55rem;
  left: 23.2rem;
}

.home-section-2-interactive-card-7 {
  left: 0.7rem;
  bottom: 35.9rem;
}

.home-section-2-interactive-card-emoji {
  display: flex;
  width: 6rem;
  height: 6rem;
  justify-content: center;
  align-items: center;
}

.home-section-2-interactive-card-emoji img {
  width: 6rem;
}

.home-section-2-interactive-card p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  color: var(--text, #333);
  text-align: center;
  font-family: Outfit;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-section-2-text-content {
  width: 66.4rem;
  height: 57.5rem;
  display: flex;
  padding-top: 6.4rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
}

.home-section-2-text-content h1 {
  margin-bottom: 0;
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.048rem;
}

.home-section-2-text-content h1 span {
  color: var(--primary, #457d61);
}

.home-section-2-text-content p {
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
/* End of home page section 2 */

/* Home section 3 */
.home-section-3,
.social-impact-section-1,
.about-section-1 {
  width: 100%;
  padding: 6.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-section-3-content-wrapper,
.about-section-1-content-wrapper {
  width: 100%;
  height: 65rem;
  position: relative;
}

.home-section-3-content-wrapper .infinite-rotation-wrapper,
.about-section-1-content-wrapper .infinite-rotation-wrapper {
  position: absolute;
  top: 10rem;
  right: 7rem;
  z-index: 202;
}

.home-section-3-hero {
  width: 100%;
  height: 64rem;
  position: relative;
  border-radius: 3.2rem;
  background: var(--mid-bg, #f4f4f4);
  overflow: hidden;
}

.home-section-3-hero-text {
  width: 54.1rem;
  height: 32.8rem;
  position: absolute;
  top: 14.2rem;
  left: 6.2rem;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
  z-index: 10;
}

.home-section-3-hero-text h1 {
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.home-section-3-hero-text h1 span {
  color: #457d61;
}

.home-section-3-hero-text p {
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.home-section-3-hero .blob {
  transform: translate(-27rem, -38rem);
}

.home-section-3-hero-img-wrapper {
  width: 42.7rem;
  height: 54.5rem;
  position: absolute;
  top: 5.2rem;
  right: 10.8rem;
}

.home-section-3-hero-img-wrapper img {
  width: 100%;
  position: relative;
  z-index: 10;
}

.home-section-3-hero .blob2 {
  width: 46.9rem;
  transform: translate(0, 0);
  top: 8.539rem;
  right: -1.4rem;
}

.home-section-3-card,
.about-section-1-cards {
  width: 100%;
  height: 11rem;
  padding: 2.4rem 4.8rem;
  position: absolute;
  top: 54rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2.4rem;
  border-radius: 3.2rem;
  border: 0.1rem solid var(--text, #333);
  background: var(--white, #fff);
  z-index: 100;
}

.home-section-3-card-highlight {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.home-section-3-highlight-emoji {
  display: flex;
  width: 7rem;
  height: 7rem;
  justify-content: flex-end;
  align-items: center;
}

.home-section-3-highlight-emoji img {
  width: 100%;
}

.home-section-3-highlight-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.4rem;
  white-space: nowrap;
}

.home-section-3-highlight-text h2,
.home-section-3-highlight-text p {
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.home-section-3-highlight-text p {
  font-size: 1.8rem;
  font-weight: 400;
}

/* End of home section 3 */

/* Home section 4 */
.home-section-4 {
  width: 100%;
  height: max-content;
  display: flex;
  padding: 6.4rem;
  align-items: center;
  justify-content: space-evenly;
  gap: 4rem;
  background: var(--white, #fff);
}

.home-section-4-text {
  width: 68.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
}

.home-section-4-text span {
  color: #457d61;
}

.home-section-4-text h1,
.home-section-4-text p {
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.home-section-4-text p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 150%;
}

.home-section-4-card,
.social-impact-section-3-right-column,
.about-section-2-right-column {
  display: flex !important;
  width: 58.7rem;
  height: 49.5rem;
  padding: 6rem 2.4rem !important;
  margin: 0 !important;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 2.4rem;
  border-radius: 3.2rem;
  border: 0.1rem solid var(--text, #333);
  background: var(--white, #fff);
}

.about-section-2-right-column {
  height: 66.5rem;
}

.home-section-4-card p {
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.home-section-4-card-client {
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
  gap: 2.4rem;
}

.home-section-4-card-client img {
  width: 8rem;
  height: 8rem;
  border-radius: 1.6rem;
}

.home-section-4-card-client-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8rem;
}

.home-section-4-card-client-info h3,
.home-section-4-card-client-info p {
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.home-section-4-card-client-info p {
  font-weight: 400;
}

.home-section-4-arrows {
  width: 15rem;
  height: 4.1rem;
  margin-top: 2.4rem;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.home-section-4-arrows button {
  border: none;
  background-color: #fff;
  width: max-content;
  cursor: pointer;
}
/* End of home section 4 */
/* End of home page */

/* Social Impact */
/* Social impact section 2 */
.social-impact-section-2 {
  display: flex;
  padding: 0 6.4rem 6.4rem 6.4rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
}

.social-impact-section-2 h1 {
  width: 100%;
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.048rem;
}

.social-impact-section-2 h1 span {
  color: #457d61;
}

.social-impact-section-2-insights {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 1.6rem;
}

.social-impact-section-2-insight-card {
  height: 16.6rem;
  display: flex;
  padding: 2.4rem;
  align-items: center;
  gap: 2.4rem;
  border-radius: 1.6rem;
  background: var(--mid-bg, #f4f4f4);
}

.social-impact-section-2-insight-card:nth-child(even) {
  background: var(--secondary, #d6ebdc);
}

.social-impact-section-2-insight-card-emoji {
  display: flex;
  width: 4rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
}

.social-impact-section-2-insight-card-emoji img {
  width: 4rem;
}

.social-impact-section-2-insight-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8rem;
}

.social-impact-section-2-insight-card-content h3,
.social-impact-section-2-insight-card-content p {
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.social-impact-section-2-insight-card-content p {
  font-weight: 400;
}
/* End of social impact section 2 */

/* Social impact section 3 */
.social-impact-section-3 {
  width: 100%;
  display: flex;
  padding: 6.4rem;
  align-items: center;
  justify-content: space-evenly;
  gap: 4rem;
  background: var(--white, #fff);
}

.social-impact-section-3-left-column {
  width: 68.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
}

.social-impact-section-3-left-column h1,
.social-impact-section-3-left-column p {
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.048rem;
}

.social-impact-section-3-left-column h1 span {
  color: #457d61;
}

.social-impact-section-3-left-column p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.05rem;
}

.social-impact-section-3-right-column p,
.social-impact-section-3-right-column a,
.about-section-2-right-column p,
.about-section-2-right-column a {
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.social-impact-section-3-right-column p,
.about-section-2-right-column p {
  line-height: 140%;
}

.social-impact-section-3-right-column a,
.about-section-2-right-column a {
  color: var(--primary, #457d61);
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

.social-impact-section-3-client {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.social-impact-section-3-client img {
  width: 8rem;
  height: 8rem;
  border-radius: 1.6rem;
}

.social-impact-section-3-client-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8rem;
}

.social-impact-section-3-client-info h3 {
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
/* End of social impact section 3 */
/* End of social impact */

/* About Noran */
/* About noran section 1 */
.about-section-1 {
  width: 100%;
  height: 94rem;
  padding: 6.4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-section-1-content-wrapper {
  height: 81rem;
}

.about-section-1-cards {
  height: 27.1rem;
  flex-direction: column;
}

.about-section-1-cards h2 {
  color: var(--text, #333);
  text-align: center;
  font-family: Outfit;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3rem;
}

.about-section-1-cards h2 span {
  color: #457d61;
}

.about-section-1-highlight-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.6rem;
}

.about-section-1-card-highlight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

#about-section-1-highlight-emoji-1 {
  width: 6.2933rem;
  height: 8rem;
}

#about-section-1-highlight-emoji-2 {
  width: 14.019rem;
  height: 8rem;
}

#about-section-1-highlight-emoji-3 {
  width: 5.5427rem;
  height: 8rem;
}

#about-section-1-highlight-emoji-4 {
  width: 22.6rem;
  height: 8rem;
}

.about-section-1-highlight-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.about-section-1-highlight-text h2 {
  font-size: 1.8rem;
  line-height: normal;
}

.about-section-1-highlight-text p {
  color: var(--text, #333);
  text-align: center;
  font-family: Outfit;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-section-2 {
  width: 100%;
  display: flex;
  padding: 6.4rem;
  align-items: center;
  justify-content: space-evenly;
  gap: 4rem;
  background: var(--white, #fff);
}

.about-section-2-member-info h3 {
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
/* End of about noran section 1 */
/* End of about noran */

/* Footer */
footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.footer-columns {
  width: 100%;
  position: relative;
  display: flex;
  padding: 6.4rem;
  align-items: flex-start;
  justify-content: space-evenly;
  background: var(--white, #fff);
}

.footer-columns .cta-box {
  margin-top: 2.4rem;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 4rem;
  gap: 1.6rem;
}

.footer-area-1 {
  width: 30%;
}

.footer-column-1 {
  display: flex;
  width: 12.525rem;
  gap: 2.4rem;
}

.footer-column .logo {
  width: 7.2rem;
  height: 1.2242rem;
}

.footer-column .logo-square {
  width: 1.2rem;
  height: 1.2rem;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.icon-wrapper {
  display: flex;
  width: 4rem;
  height: 4rem;
  padding: 2.4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  border-radius: 0.8rem;
  background: var(--mid-bg, #f4f4f4);
  cursor: pointer;
}

.icon-wrapper:hover {
  text-decoration: none;
}

.icon-wrapper i {
  width: 1.6rem;
  height: 1.6rem;
  flex-shrink: 0;
  color: #457d61;
}

.footer-area-1 .cta-box {
  width: 44.4rem;
  height: 23.7rem;
  justify-content: flex-start;
}

.footer-area-1 .cta-text {
  font-size: 1.6rem;
  line-height: 140%;
}

.footer-area-1 .cta-box-column {
  width: 41.2rem;
  height: max-content;
  margin: 2.8rem 1.6rem 3.7rem 1.6rem;
}

.footer-area-2 {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

.footer-heading {
  color: var(--text, #333);
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  white-space: nowrap;
}

.footer-heading span {
  color: #457d61;
}

.footer-item a {
  color: var(--text, #333);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 140%;
  white-space: nowrap;
}

.coming-soon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coming-soon-label {
  width: 12.7rem;
  height: 4.1rem;
  padding: 0.8rem;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 10rem;
  background: var(--secondary, #d6ebdc);
  color: var(--text-default, #222);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 140%;
  white-space: nowrap;
}

.footer-bottom {
  width: 100%;
  display: flex;
  padding: 3.2rem 6.4rem;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.copyright {
  color: var(--text, #333);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

.company {
  color: var(--text, #333);
  text-align: right;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}
/* End of footer */

/* Responsiveness */
@media screen and (max-width: 1600px) {
  .footer-columns {
    height: 78.5rem;
    padding: 4rem 6.4rem;
    flex-direction: column;
    justify-content: unset;
  }

  .footer-area-1 {
    width: 100%;
    position: relative;
  }

  .footer-columns .cta-box {
    width: 100%;
    height: 17.4rem;
    margin-top: 0;
    align-items: flex-start;
    position: absolute;
    top: 48.3rem;
  }

  .footer-columns .cta-box-column {
    width: 100%;
    margin: 2.4rem 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
  }

  .footer-columns .cta-box-btn {
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
  }

  .footer-columns .blob {
    width: 200%;
    height: 200%;
    transform: translate(-9rem, -15rem);
  }

  .footer-area-2 {
    width: 100%;
    margin-top: 4rem;
    justify-content: space-between;
  }

  .footer-area-2 .footer-column {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 1500px) {
  .nav-dropdown {
    height: 30.2rem;
  }
}

@media screen and (max-width: 1420px) {
  .about-section-2-right-column {
    height: 69.5rem;
  }
}

@media screen and (max-width: 1400px) {
  .nav-dropdown-wrapper .cta-box {
    width: 25rem;
    height: 33rem;
  }

  .nav-dropdown-wrapper .cta-box-column {
    width: 21.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 3.976rem;
    gap: 1.6rem;
  }

  .nav-dropdown-wrapper .cta-box-btn {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
  }

  .slack-box,
  .udemy-box,
  .slack-box-outer-wrapper,
  .udemy-box-outer-wrapper {
    width: 28.8rem;
  }

  .slack-box-inner-wrapper,
  .udemy-box-inner-wrapper {
    width: 25.6rem;
  }

  .home-section-1 {
    height: auto;
    padding: 6.4rem 4rem;
  }

  .home-section-1-content {
    width: 62.9rem;
    height: auto;
  }

  .home-section-1-image-area {
    width: 30rem;
    height: 56rem;
  }

  .home-section-1-image-area img {
    width: 16.4rem;
    height: 25.5rem;
  }

  .home-section-1-image-2 {
    bottom: 3.8rem;
  }

  .home-section-1-waves {
    width: 18.984rem;
    height: 13.6rem;
    left: 1.28rem;
    overflow: hidden;
  }

  .home-section-2 {
    height: auto;
    padding: 0 4rem 6.4rem 4rem;
  }

  .home-section-2-content-wrapper {
    height: 100%;
    justify-content: space-evenly;
  }

  .home-section-2-interactive {
    width: 48.7rem;
    height: 45.6732rem;
  }

  .home-section-2-interactive-card {
    width: 16.0197rem;
    height: 16.3275rem;
  }

  .home-section-2-interactive-card p {
    font-size: 1.6rem;
  }

  .home-section-2-interactive-card-1 {
    top: 9.74rem;
    left: unset;
    right: 0;
  }

  .home-section-2-interactive-card-2 {
    top: 13.3rem;
    left: 6.65rem;
  }

  .home-section-2-interactive-card-3 {
    top: unset;
    bottom: 0;
    left: 0;
    right: unset;
  }

  .home-section-2-interactive-card-4 {
    top: unset;
    left: unset;
    bottom: 4.01rem;
    right: 14.1rem;
  }

  .home-section-2-interactive-card-5 {
    top: unset;
    left: unset;
    bottom: 1.14rem;
    right: 0.481rem;
  }

  .home-section-2-interactive-card-6 {
    top: 2.08rem;
    right: 14.1rem;
    left: unset;
    bottom: unset;
  }

  .home-section-2-interactive-card-7 {
    bottom: unset;
  }

  .home-section-2-text-content {
    width: 41.7rem;
    height: 55.4rem;
    gap: 2.4rem;
  }

  .home-section-2-text-content h1 {
    font-size: 4.8rem;
  }

  .home-section-3-content-wrapper .infinite-rotation-wrapper
  .about-section-1-content-wrapper .infinite-rotation-wrapper {
    top: 5.45rem;
    right: 6.23rem;
    z-index: 202;
  }

  .home-section-3-hero-text {
    width: 42.5rem;
    top: 9.15rem;
    left: 4rem;
  }

  .social-impact-section-2-insights {
    flex-direction: column;
    align-items: center;
  }

  .social-impact-section-2-insight-card {
    width: 100%;
    height: max-content;
  }

  .home-section-4-card,
  .social-impact-section-3-right-column {
    height: 52.5rem;
  }
}

@media screen and (max-width: 1390px) {
  .about-section-2-right-column {
    height: 71.5rem;
  }
}

@media screen and (max-width: 1300px) {
  .home-section-3,
  .social-impact-section-1 {
    height: 107rem;
  }

  .home-section-3-content-wrapper {
    height: 95rem;
  }

  .home-section-3-card {
    height: max-content;
    flex-direction: column;
  }

  .home-section-3-hero-img-wrapper {
    right: 1.6rem;
  }

  .home-section-4-card,
  .social-impact-section-3-right-column {
    height: 54.5rem;
  }
}

@media screen and (max-width: 1240px) {
  .about-section-2-right-column {
    height: 76.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .nav-dropdown-wrapper {
    padding: 0 5rem;
  }

  .home-section-2-text-content p {
    text-align: initial;
  }

  .home-section-4-card,
  .social-impact-section-3-right-column {
    height: 57.5rem;
  }
}

@media screen and (max-width: 1127px) {
  .footer-columns .cta-box {
    height: 20rem;
  }
}

@media screen and (max-width: 1100px) {
  .home-section-4,
  .social-impact-section-3 {
    height: auto;
    flex-direction: column;
  }

  .home-section-4-text,
  .social-impact-section-3-left-column,
  .home-section-4-card,
  .social-impact-section-3-right-column,
  .about-section-2-right-column {
    width: 100%;
    align-items: flex-start;
  }

  .home-section-4-card,
  .social-impact-section-3-right-column {
    height: 42.5rem;
  }
}

@media screen and (max-width: 1000px) {
  header {
    justify-content: space-between;
  }

  .header-btns {
    width: 19.35rem;
  }

  .header-btns .lets-talk-btn {
    margin-right: 2rem;
  }

  .hamburger-btn {
    display: block;
  }

  .nav-list {
    display: none;
    width: 100%;
    padding: 0 2rem 0 2rem;
    position: absolute;
    top: 8.8rem;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    background: #fff;
  }

  .nav-list-item {
    height: max-content;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }

  .nav-list-item i {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
  }

  .nav-dropdown-wrapper {
    height: 30rem;
    position: unset;
    margin: 2rem 0 0 0;
    padding-top: 2rem;
  }

  .nav-dropdown-services {
    margin-bottom: 0;
  }

  .nav-dropdown-wrapper .cta-box {
    display: none;
  }

  .nav-dropdown {
    width: 100%;
    position: relative;
  }

  .nav-dropdown-wrapper-learn {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 3rem;
  }

  .slack-box,
  .udemy-box {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 2rem;
    overflow: visible;
  }

  .slack-box-outer-wrapper,
  .slack-box-inner-wrapper,
  .udemy-box-outer-wrapper,
  .udemy-box-inner-wrapper {
    all: unset;
  }

  .slack-box-header,
  .udemy-box-header {
    display: flex;
    height: 2.4rem;
    align-items: center;
    gap: 1.6rem;
  }

  .slack-logo {
    width: 7.4rem;
    height: 2rem;
  }

  .udemy-logo {
    width: 5.3rem;
    height: 2rem;
  }

  .slack-heading h3,
  .udemy-heading h3 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 3rem;
    margin-bottom: 0;
  }

  .slack-heading span,
  .udemy-heading span {
    color: #457d61;
  }

  .slack-text,
  .udemy-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .slack-text p,
  .udemy-text p {
    color: var(--sub-text, #677489);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 150%;
  }

  .slack-btn,
  .slack-box .blob,
  .udemy-btn,
  .udemy-box .blob {
    display: none;
  }

  .latest-industry-insights,
  .latest-industry-insights-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .latest-industry-insights {
    height: max-content;
  }

  .latest-industry-insights-wrapper {
    gap: 0.2rem;
  }

  .latest-industry-insights-header {
    display: flex;
    height: 2.4rem;
    align-items: center;
    gap: 1.6rem;
  }

  .latest-industry-insights-header h3 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 3rem;
  }

  .latest-industry-insights-wrapper p {
    margin-bottom: 0;
  }

  .home-section-1-image-area {
    display: none;
  }

  .home-section-2-content-wrapper {
    flex-direction: column;
    gap: 1.6rem;
  }

  .home-section-2-interactive {
    left: -2rem;
  }

  .home-section-2-text-content {
    width: 100%;
    height: max-content;
    padding: 1.6rem 2rem 0 2rem;
  }

  .home-section-3-hero-img-wrapper {
    width: 30rem;
    right: 0.6rem;
  }

  .home-section-3-hero-img-wrapper img {
    top: 13rem;
  }

  .home-section-3-hero-img-wrapper .blob2 {
    width: 32rem;
    top: 15rem;
    right: -0.4rem;
  }

  .home-section-4-text p,
  .social-impact-section-3-left-column p {
    text-align: initial;
  }

  .home-section-4-card,
  .social-impact-section-3-right-column {
    height: 44.5rem;
  }

  .about-section-1 {
    height: 140.5rem;
  }

  .about-section-1-content-wrapper {
    height: 128rem;
  }

  .about-section-1-cards {
    height: max-content;
  }

  .about-section-1-highlight-wrapper {
    flex-direction: column;
  }

  .about-section-2 {
    flex-direction: column;
  }

  .about-section-2-right-column {
    height: 59.5rem;
  }
}

@media screen and (max-width: 900px) {
  .home-section-3-hero-img-wrapper {
    width: 22rem;
  }

  .home-section-3-hero-img-wrapper img {
    top: 22rem;
  }

  .home-section-3-hero-img-wrapper .blob2 {
    width: 24rem;
    top: 24rem;
  }

  .footer-columns {
    height: max-content;
  }

  .footer-area-1 .cta-box,
  .footer-column {
    margin-top: 4rem;
  }

  .footer-area-1 .cta-box {
    height: max-content;
    position: relative;
    top: 0;
  }

  .footer-area-1 .cta-box-column {
    margin: 3.95rem 3.2rem 3.45rem 3.2rem;
  }

  .footer-area-1 .blob {
    width: 120%;
    height: 120%;
  }

  .footer-area-2 {
    flex-direction: column;
    margin-top: 0;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 1.6rem;
  }

  .company {
    white-space: break-spaces;
    text-align: center;
  }
}

@media screen and (max-width: 870px) {
  .about-section-2-right-column {
    height: 64.5rem;
  }
}

@media screen and (max-width: 850px) {
  .home-section-4-card,
  .social-impact-section-3-right-column {
    height: 46.5rem;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 55%;
  }

  .infinite-rotation-wrapper,
  .infinite-rotation {
    width: 12rem;
    height: 12rem;
  }

  .nav-list-item {
    align-items: center;
  }

  .nav-list-item-heading {
    align-self: flex-start;
  }

  .nav-dropdown-wrapper,
  .nav-dropdown-services {
    height: max-content;
  }

  .nav-dropdown-wrapper {
    justify-content: center;
    padding: 0;
  }

  .nav-dropdown-services {
    width: max-content;
    left: unset;
  }

  .nav-dropdown-item {
    width: max-content;
  }

  .nav-dropdown-item:last-child {
    margin-bottom: 0;
  }

  .home-section-1-content {
    width: 100%;
  }

  .home-section-1-content p {
    text-align: initial;
  }

  .home-section-1-highlight-card {
    width: 100%;
    flex-direction: column;
  }

  .home-section-3-content-wrapper .infinite-rotation-wrapper,
  .about-section-1-content-wrapper .infinite-rotation-wrapper {
    top: 2.4rem;
    right: unset;
    left: 4rem;
  }

  .home-section-3-hero-text {
    width: 80%;
    top: 15rem;
    gap: 1.6rem;
  }

  .home-section-3-hero-img-wrapper {
    width: 12rem;
  }

  .home-section-3-hero-img-wrapper img {
    top: 34rem;
  }

  .home-section-3-hero-img-wrapper .blob2 {
    width: 14rem;
    top: 35rem;
    right: -0.8rem;
  }

  .about-section-1 {
    height: 140rem;
  }

  .footer-columns {
    height: auto;
  }

  .icon-wrapper i {
    width: 2rem;
    height: 1.6rem;
  }

  .footer-heading {
    font-size: 3.2rem;
  }

  .footer-item a {
    font-size: 1.6rem;
  }

  .copyright,
  .company {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 700px) {
  .about-section-2-right-column {
    height: 66.5rem;
  }
}

@media screen and (max-width: 660px) {
  .home-section-4-card,
  .social-impact-section-3-right-column {
    height: 49.5rem;
  }
}

@media screen and (max-width: 620px) {
  .about-section-2-right-column {
    height: 71.5rem;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 45%;
  }

  header {
    padding: 1.8rem 2rem;
  }

  .infinite-rotation-wrapper,
  .infinite-rotation {
    width: 14rem;
    height: 14rem;
  }

  .nav-list-item p,
  .nav-list-item a {
    font-size: 2.4rem;
  }

  .nav-list-item i {
    top: 2.9rem;
  }

  .nav-dropdown-item h3 {
    font-size: 2.5rem;
  }

  .nav-dropdown-item p {
    margin-left: 4.5rem;
    font-size: 1.6rem;
  }

  .slack-logo {
    width: 10.36rem;
    height: 2.8rem;
  }

  .udemy-logo {
    width: 7.42rem;
    height: 2.8rem;
  }

  .slack-heading h3,
  .udemy-heading h3 {
    font-size: 2.4rem;
  }

  .slack-text,
  .udemy-text {
    margin-top: 0.7rem;
  }

  .slack-text p,
  .udemy-text p {
    font-size: 2rem;
  }

  .latest-industry-insights-header h3 {
    font-size: 2.4rem;
  }

  .latest-industry-insights-wrapper p {
    font-size: 2rem;
  }

  .home-section-1,
  .home-section-2,
  .home-section-3,
  .home-section-4,
  .social-impact-section-1,
  .social-impact-section-2,
  .social-impact-section-3,
  .about-section-1,
  .about-section-2,
  .footer-columns {
    padding: 4rem 2rem 0 2rem;
  }

  .home-section-2-text-content button,
  .home-section-3-hero-text button,
  .home-section-4-text button,
  .social-impact-section-3-left-column button {
    font-size: 2.2rem;
  }

  .home-section-3,
  .social-impact-section-1 {
    height: 99rem;
  }

  .home-section-3-content-wrapper .infinite-rotation-wrapper,
  .about-section-1-content-wrapper .infinite-rotation-wrapper {
    left: 3rem;
  }

  .home-section-3-hero-text {
    width: 90%;
    top: 18rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .home-section-3-hero-text p {
    text-align: initial;
  }

  .home-section-3-hero-img-wrapper {
    display: none;
  }

  .home-section-4-card,
  .social-impact-section-3-right-column {
    height: 51.5rem;
  }

  .home-section-4-card h3,
  .social-impact-section-3-right-column h3,
  .about-section-2-right-column h3,
  .home-section-4-card p,
  .social-impact-section-3-right-column p .about-section-2-right-column p {
    font-size: 2.2rem;
  }

  .icon-wrapper i {
    height: 2rem;
  }

  .icon-wrapper:last-child i {
    width: 2.5rem;
  }

  .social-impact-section-2 {
    padding-bottom: 0;
  }

  .about-section-1 {
    height: 143rem;
  }

  .about-section-1-content-wrapper {
    height: 139rem;
  }

  #about-section-1-highlight-emoji-1,
  #about-section-1-highlight-emoji-2,
  #about-section-1-highlight-emoji-3,
  #about-section-1-highlight-emoji-4 {
    width: max-content;
    height: 11rem;
  }
}

@media screen and (max-width: 570px) {
  .home-section-4-card,
  .social-impact-section-3-right-column {
    height: 53.5rem;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 40%;
  }

  .infinite-rotation-wrapper,
  .infinite-rotation {
    width: 16rem;
    height: 16rem;
  }

  .nav-list-item i {
    top: 2.7rem;
  }

  .home-section-3,
  .social-impact-section-1 {
    height: 104rem;
  }

  .home-section-3-content-wrapper {
    height: 100rem;
  }

  .home-section-3-hero-text {
    top: 20rem;
  }

  .home-section-3-card {
    top: 60rem;
  }

  .icon-wrapper i {
    height: 2.3rem;
  }

  .icon-wrapper:last-child i {
    width: 2.9rem;
  }

  .social-impact-section-2 {
    margin-top: 5rem;
  }

  .about-section-1 {
    height: 147rem;
  }

  .about-section-1-content-wrapper {
    height: 143rem;
  }

  #about-section-1-highlight-emoji-1,
  #about-section-1-highlight-emoji-2,
  #about-section-1-highlight-emoji-3,
  #about-section-1-highlight-emoji-4 {
    height: 12rem;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 35%;
  }

  .infinite-rotation-wrapper,
  .infinite-rotation {
    width: 18rem;
    height: 18rem;
  }

  .nav-list-item i {
    top: 2.2rem;
  }

  .home-section-1-content h1 {
    text-align: initial;
  }

  .home-section-1-content p {
    font-size: 2.5rem;
  }

  .home-section-1-highlight {
    position: relative;
    left: -3rem;
  }

  .home-section-2-text-content {
    padding: 0;
    justify-content: space-evenly;
  }

  .home-section-2-text-content p {
    font-size: 2.5rem;
  }

  .home-section-3,
  .social-impact-section-1 {
    height: 109.5rem;
  }

  .home-section-3-content-wrapper {
    height: 105.5rem;
  }

  .home-section-3-hero {
    height: 70rem;
  }

  .home-section-3-hero-text {
    top: 23rem;
  }

  .home-section-3-hero-text p,
  .home-section-3-hero-text button {
    font-size: 2.5rem;
  }

  .home-section-3-card {
    top: 65rem;
  }

  .footer-heading {
    font-size: 4rem;
  }

  .icon-wrapper i {
    height: 2.5rem;
  }

  .icon-wrapper:last-child i {
    width: 3.1rem;
  }

  .about-section-1 {
    height: 156rem;
  }

  .about-section-1-content-wrapper {
    height: 151.5rem;
  }

  #about-section-1-highlight-emoji-1,
  #about-section-1-highlight-emoji-2,
  #about-section-1-highlight-emoji-3,
  #about-section-1-highlight-emoji-4 {
    height: 14rem;
  }

  .footer-item a {
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .nav-list-item i {
    top: 2.5rem;
  }

  .home-section-2-interactive {
    height: 48.7rem;
  }

  .home-section-2-interactive-card {
    width: 17rem;
    height: 17rem;
  }

  .home-section-2-interactive-card-1 {
    left: 35.8rem;
  }

  .home-section-2-interactive-card-2 {
    top: 14.3rem;
    left: 7.3rem;
  }

  .home-section-2-interactive-card-3 {
    top: 31.9rem;
  }

  .home-section-2-interactive-card-4 {
    top: 27rem;
    left: 20.2rem;
  }

  .home-section-2-interactive-card-5 {
    top: 29.5rem;
    left: 35.2rem;
  }

  .home-section-2-interactive-card-emoji {
    position: relative;
    top: 1rem;
  }

  .home-section-2-interactive-card-6 {
    left: 20.2rem;
  }

  .home-section-3,
  .social-impact-section-1 {
    height: 114rem;
  }

  .home-section-3-content-wrapper {
    height: 110rem;
  }

  .home-section-3-hero {
    height: 80rem;
  }

  .home-section-3-hero .blob {
    transform: translate(-27rem, -20rem);
  }

  .home-section-3-card {
    top: 70rem;
  }

  .home-section-4-card,
  .social-impact-section-3-right-column {
    height: 57.5rem;
  }

  .icon-wrapper i {
    width: 2.5rem;
  }

  .about-section-1 {
    height: 161rem;
  }

  .about-section-1-content-wrapper {
    height: 157rem;
  }

  .about-section-1-cards {
    top: 60rem;
  }
}

@media screen and (max-width: 360px) {
  .home-section-4-card,
  .social-impact-section-3-right-column {
    height: 59.5rem;
  }
}

@media screen and (max-width: 350px) {
  .nav-list-item i {
    top: 2.2rem;
  }

  .home-section-2 {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 340px) {
  .home-section-3,
  .social-impact-section-1 {
    height: 119rem;
  }

  .home-section-3-content-wrapper {
    height: 115rem;
  }

  .home-section-3-card {
    top: 75rem;
  }

  .home-section-4-card,
  .social-impact-section-3-right-column {
    height: 63.5rem;
  }
}

@media screen and (max-width: 330px) {
  .nav-list-item i {
    top: 2.5rem;
  }

  .home-section-3,
  .social-impact-section-1 {
    height: 114rem;
  }

  .home-section-3-content-wrapper {
    height: 110rem;
  }

  .home-section-3-hero {
    height: 80rem;
  }

  .home-section-3-card {
    top: 70rem;
  }

  .home-section-3-hero {
    height: 85rem;
  }

  .about-section-1 {
    height: 166.5rem;
  }

  .about-section-1-content-wrapper {
    height: 162rem;
  }

  .about-section-1-content-wrapper .home-section-3-hero-text {
    text-align: start;
  }

  .about-section-1-cards {
    top: 65rem;
  }
}

@media screen and (max-width: 310px) {
  .home-section-4-card,
  .social-impact-section-3-right-column {
    height: 68.5rem;
  }
}
/* End of responsiveness */
