@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Reset and common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Outfit", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Logo */
.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo {
  color: #333333;
  width: 11.001rem;
  height: 1.8703rem;
}

.logo-square {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 0.2rem;
  background: var(--primary, #457d61);
}
/* End of logo */

.lets-talk-btn {
  display: flex;
  padding: 1.2rem 2.4rem;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  border-radius: 7rem;
  border: none;
  background: var(--primary, #457d61);
  color: var(--white, #fff);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
  white-space: nowrap;
  cursor: pointer;
}

/* CTA box */
.cta-box {
  width: 37.1rem;
  height: 33.1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3.2rem;
  background: var(--mid-bg, #f4f4f4);
  overflow: hidden;
}

.cta-heading {
  color: var(--text, #333);
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
}

.cta-heading span {
  color: #457d61;
}

.cta-box-column {
  width: 30.7rem;
  height: 16.6rem;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  z-index: 10;
}

.cta-box-btn {
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;
  white-space: nowrap;
}

.join-community-btn {
  display: flex;
  padding: 1.2rem 2.4rem;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  border-radius: 7rem;
  border: 0.1rem solid var(--primary, #457d61);
  background: var(--light-bg, #fcfcfc);
  color: var(--primary, #457d61);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
  cursor: pointer;
}

.cta-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text, #333);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}
/* End of CTA box */

/* Blob */
.blob,
.blob2 {
  position: absolute;
  width: 120%;
  height: 120%;
  transform: translate(-9rem, -9rem);
  background-image: url("./images/blob.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.blob2 {
  background-image: url("./images/blob2.svg");
}
/* End of blob */

/* Infinite rotation */
.infinite-rotation-wrapper {
  position: relative;
  width: 10rem;
  height: 10rem;
}

.infinite-rotation-heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.infinite-rotation {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/Infinite Rotation.svg");
  background-repeat: no-repeat;
  background-position: center;
  animation: rotateText 12s linear infinite;
}

@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* End of infinite rotation */
/* End of reset and common styles */

/* Header */
header {
  background: var(--white, #fff);
  display: flex;
  width: 100%;
  height: 8.8rem;
  padding: 1.8rem 6.4rem;
  align-items: center;
  justify-content: space-evenly;
}

/* Navbar */
.nav-list {
  display: flex;
  margin-bottom: 0;
}

.nav-list-item {
  height: 8rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  white-space: nowrap;
}

.nav-list-item a {
  color: var(--text, #333);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}

.nav-list-item i {
  width: 1.6rem;
  height: 1.6rem;
  color: #333333;
  padding-left: 0.5rem;
}

.nav-dropdown-wrapper {
  width: 100%;
  height: 35rem;
  position: absolute;
  top: 8rem;
  left: 0;
  padding: 0 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--light-bg, #fcfcfc);
  opacity: 0;
  z-index: 100;
  visibility: hidden;
  transition: all 0.5s;
}

.nav-dropdown {
  width: 80%;
  height: 17rem;
  flex-wrap: wrap;
}

.nav-dropdown-about-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-dropdown-item {
  display: flex;
  flex-direction: column;
}

.nav-dropdown-item:last-child() {
  margin-bottom: auto;
}

.nav-dropdown-item h3 {
  display: flex;
  height: 2.4rem;
  align-items: center;
  gap: 1.6rem;
  color: #252525;
  font-size: 2rem;
  font-weight: 300;
  line-height: normal;
}

.nav-dropdown-item h3 span {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  color: var(--text, #333);
  font-weight: 500;
  line-height: 150%;
}

.nav-dropdown-item p {
  display: flex;
  padding-left: 0;
  align-items: flex-start;
  gap: 1rem;
  margin-left: 3.6rem;
}

.slack-box,
.udemy-box {
  position: relative;
  width: 39.467rem;
  height: 32rem;
  border-radius: 3.2rem;
  overflow: hidden;
}

.slack-box-outer-wrapper,
.udemy-box-outer-wrapper {
  position: relative;
  width: 39.4667rem;
  height: 32rem;
  flex-shrink: 0;
  border-radius: 3.2rem;
  background: var(--mid-bg, #f4f4f4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slack-box-inner-wrapper,
.udemy-box-inner-wrapper {
  width: 33rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.6rem;
  z-index: 101;
}

.slack-logo {
  width: 14.9854rem;
  height: 4rem;
}

.udemy-logo {
  width: 10.5rem;
  height: 4rem;
}

.slack-heading,
.udemy-heading,
.slack-text,
.udemy-text {
  display: flex;
  align-items: flex-start;
}

.slack-heading h3,
.udemy-heading h3 {
  color: var(--text, #333);
  font-size: 2rem;
  font-family: Outfit;
  font-style: normal;
  font-weight: 500;
  line-height: 3rem;
}

.slack-text p,
.udemy-text p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text, #333);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

.slack-btn,
.udemy-btn {
  display: flex;
  padding: 1.2rem 2.4rem;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  border-radius: 7rem;
  border: 0.1rem solid var(--primary, #457d61);
  background: var(--light-bg, #fcfcfc);
  color: var(--primary, #457d61);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
}

.slack-box .blob,
.udemy-box .blob {
  transform: translate(-11rem, -47rem);
}

.latest-industry-insights {
  width: 39.467rem;
  height: 17.4rem;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.latest-industry-insights-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}

.latest-industry-insights-wrapper h3 {
  color: var(--text, #333);
  font-family: Outfit;
  font-style: normal;
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
}

.latest-industry-insights-wrapper h3 span {
  color: var(--primary, #457d61);
}

.latest-industry-insights-wrapper p {
  color: var(--text, #333);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}
/* End of navbar */
/* End of header */

/* Home page */
/* Home page section 1 */
.home-section-1 {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 6.4rem;
  justify-content: space-evenly;
  align-items: flex-start;
  background: var(--white, #fff);
}

.home-section-1-content {
  width: 100%;
  height: 52.2rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3.2rem;
}

.home-section-1-content h1,
.home-section-1-content p {
  width: 100%;
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.home-section-1-content h1 span {
  color: #457d61;
}

.home-section-1-content p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 150%;
}

.home-section-1-highlight-card {
  display: flex;
  padding: 2.4rem;
  align-items: center;
  gap: 2.4rem;
  border-radius: 3.2rem;
  border: 0.1rem solid var(--text, #333);
  background: var(--white, #fff);
}

.home-section-1-highlight {
  width: 27.85rem;
  height: 6rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.home-section-1-highlight-emoji {
  display: flex;
  width: 6rem;
  height: 6rem;
  justify-content: center;
  align-items: center;
}

.home-section-1-highlight-emoji img {
  width: 6rem;
}

.home-section-1-highlight p {
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.home-section-1-image-area {
  width: 56.1rem;
  height: 58rem;
  position: relative;
}

.home-section-1-image-1,
.home-section-1-image-2 {
  width: 27rem;
  height: 37.3rem;
  position: absolute;
  border-radius: 2.4rem;
  z-index: 10;
}

.home-section-1-image-1 {
  top: 0;
  right: 0;
}

.home-section-1-image-2 {
  bottom: 0;
  left: 0;
}

.home-section-1-waves {
  width: 35.5rem;
  height: 13.6rem;
  position: absolute;
  top: 4rem;
  left: 2.4rem;
}

.home-section-1-wave {
  width: 35.5rem;
  height: 1.8rem;
  margin-bottom: 2.4rem;
  stroke-width: 0.3rem;
  stroke: var(--secondary, #d6ebdc);
}
/* End of home page section 1 */

/* Home page section 2 */
.home-section-2 {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 0 6.4rem 0 6.4rem;
  align-items: center;
  justify-content: center;
  gap: 11rem 0;
  flex-wrap: wrap;
}

.home-section-2-content-wrapper {
  width: 100%;
  height: 55.946rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 4rem;
}

.home-section-2-interactive {
  width: 60.8rem;
  height: 55.9465rem;
  position: relative;
}

.home-section-2-interactive-card:nth-child(odd) {
  background: var(--mid-bg, #f4f4f4);
}

.home-section-2-interactive-card:nth-child(even) {
  background: var(--secondary, #d6ebdc);
}

.home-section-2-interactive-card {
  position: absolute;
  display: flex;
  width: 20rem;
  height: 20rem;
  padding: 2.4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30rem;
  gap: 2.4rem;
}

.home-section-2-interactive-card-1 {
  top: 11.9rem;
  left: 40.8rem;
}

.home-section-2-interactive-card-2 {
  top: 16.3rem;
  left: 8.3rem;
  z-index: 10;
}

.home-section-2-interactive-card-3 {
  top: 35.9rem;
  left: 0;
}

.home-section-2-interactive-card-4 {
  top: 31rem;
  left: 23.2rem;
}

.home-section-2-interactive-card-5 {
  top: 34.5rem;
  left: 40.2rem;
}

.home-section-2-interactive-card-6 {
  top: 2.55rem;
  left: 23.2rem;
}

.home-section-2-interactive-card-7 {
  left: 0.7rem;
  bottom: 35.9rem;
}

.home-section-2-interactive-card-emoji {
  display: flex;
  width: 6rem;
  height: 6rem;
  justify-content: center;
  align-items: center;
}

.home-section-2-interactive-card-emoji img {
  width: 6rem;
}

.home-section-2-interactive-card p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  color: var(--text, #333);
  text-align: center;
  font-family: Outfit;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-section-2-text-content {
  width: 66.4rem;
  height: 55.946rem;
  display: flex;
  padding-top: 6.4rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
}

.home-section-2-text-content h1 {
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.048rem;
}

.home-section-2-text-content h1 span {
  color: var(--primary, #457d61);
}

.home-section-2-text-content p {
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
/* End of home page section 2 */

/* Home section 3 */
.home-section-3 {
  width: 100%;
  padding: 6.4rem 6.4rem 0 6.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white, #fff);
}

.home-section-3-content-wrapper {
  width: 100%;
  height: 73.1rem;
  position: relative;
  overflow: hidden;
}

.home-section-3-content-wrapper .infinite-rotation-wrapper {
  position: absolute;
  top: 10rem;
  right: 7rem;
  z-index: 10;
}

.home-section-3-hero {
  width: 100%;
  height: 64rem;
  position: relative;
  border-radius: 3.2rem;
  background: var(--mid-bg, #f4f4f4);
  overflow: hidden;
}

.home-section-3-hero-text {
  width: 54.1rem;
  height: 33.8rem;
  position: absolute;
  top: 14.2rem;
  left: 6.2rem;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
  z-index: 10;
}

.home-section-3-hero-text h1 {
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.home-section-3-hero-text h1 span {
  color: #457d61;
}

.home-section-3-hero-text p {
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.home-section-3-hero .blob {
  transform: translate(-27rem, -38rem);
}

.home-section-3-hero-img-wrapper {
  width: 42.7rem;
  height: 54.5rem;
  position: absolute;
  top: 5.2rem;
  right: 10.8rem;
}

.home-section-3-hero-img-wrapper img {
  width: 100%;
  position: relative;
  z-index: 10;
}

.home-section-3-hero .blob2 {
  width: 46.9rem;
  transform: translate(0, 0);
  top: 8.539rem;
  right: -1.4rem;
}

.home-section-3-card {
  width: 100%;
  height: 11rem;
  padding: 2.4rem 4.8rem;
  position: absolute;
  top: 54rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2.4rem;
  border-radius: 3.2rem;
  border: 0.1rem solid var(--text, #333);
  background: var(--white, #fff);
  z-index: 100;
}

.home-section-3-card-highlight {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.home-section-3-highlight-emoji {
  display: flex;
  width: 7rem;
  height: 7rem;
  justify-content: flex-end;
  align-items: center;
}

.home-section-3-highlight-emoji img {
  width: 100%;
}

.home-section-3-highlight-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.4rem;
  white-space: nowrap;
}

.home-section-3-highlight-text h2,
.home-section-3-highlight-text p {
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.home-section-3-highlight-text p {
  font-size: 1.8rem;
  font-weight: 400;
}

.home-section-4 {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 6.4rem;
  align-items: center;
  justify-content: space-evenly;
  gap: 4rem;
  background: var(--white, #fff);
}

.home-section-4-text {
  width: 68.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
}

.home-section-4-text span {
  color: #457d61;
}

.home-section-4-text h1,
.home-section-4-text p {
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.home-section-4-text p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 150%;
}

.home-section-4-card {
  display: flex;
  width: 58.7rem;
  padding: 6rem 2.4rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 2.4rem;
  border-radius: 3.2rem;
  border: 0.1rem solid var(--text, #333);
  background: var(--white, #fff);
}

.home-section-4-card p {
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.home-section-4-card-client {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.home-section-4-card-client img {
  width: 8rem;
  height: 8rem;
  border-radius: 1.6rem;
}

.home-section-4-card-client-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8rem;
}

.home-section-4-card-client-info h3,
.home-section-4-card-client-info p {
  color: var(--text, #333);
  font-family: Outfit;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.home-section-4-card-client-info p {
  font-weight: 400;
}

.home-section-4-arrows {
  width: 9.1647rem;
  height: 4.1rem;
}
/* End of home section 3 */
/* End of home page */

/* Footer */
footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.footer-columns {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  padding: 6.4rem;
  align-items: flex-start;
  justify-content: space-evenly;
  background: var(--white, #fff);
}

.footer-columns .cta-box {
  margin-top: 3rem;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  flex: 1 0 0;
}

.footer-area-1 {
  width: 30%;
}

.footer-column-1 {
  display: flex;
  width: 12.525rem;
  gap: 2.4rem;
}

.footer-column .logo {
  width: 7.2rem;
  height: 1.2242rem;
}

.footer-column .logo-square {
  width: 1.2rem;
  height: 1.2rem;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.icon-wrapper {
  display: flex;
  width: 4rem;
  height: 4rem;
  padding: 2.4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  border-radius: 0.8rem;
  background: var(--mid-bg, #f4f4f4);
}

.icon-wrapper i {
  width: 1.6rem;
  height: 1.6rem;
  flex-shrink: 0;
  color: #457d61;
}

.footer-area-2 {
  width: 70%;
  display: flex;
}

.footer-heading {
  color: var(--text, #333);
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  white-space: nowrap;
}

.footer-item a {
  color: var(--text, #333);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  white-space: nowrap;
}

.coming-soon {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.coming-soon-label {
  display: flex;
  height: 2rem;
  padding: 0.8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 10rem;
  background: var(--secondary, #d6ebdc);
  color: var(--text-default, #222);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 120%;
  white-space: nowrap;
}

.footer-bottom {
  width: 100%;
  display: flex;
  padding: 3.2rem 6.4rem;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  color: var(--text, #333);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

.company {
  color: var(--text, #333);
  text-align: right;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}
/* End of footer */

/* Responsiveness */
@media screen and (max-width: 1600px) {
  .footer-columns .cta-box {
    width: 25rem;
    height: 33rem;
    margin-top: 0;
    align-items: flex-start;
    position: absolute;
    top: 17.2rem;
    left: 6.4rem;
  }

  .footer-columns .cta-box-column {
    width: 21.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 3.976rem;
    gap: 1.6rem;
  }

  .footer-columns .cta-box-btn {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
  }

  .footer-columns .blob {
    transform: translate(-7rem, -10.5rem);
  }
}

@media screen and (max-width: 1400px) {
  .home-section-1 {
    height: auto;
  }

  .home-section-1-content {
    height: auto;
    align-items: center;
    text-align: center;
  }

  .infinite-rotation-wrapper,
  .infinite-rotation {
    width: 12rem;
    height: 12rem;
  }

  .home-section-1-image-area {
    display: none;
  }

  .home-section-2 {
    height: auto;
    padding-top: 6.4rem;
  }

  .home-section-2-content-wrapper {
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .home-section-2-interactive-card-7 {
    bottom: unset;
  }

  .home-section-2-text-content {
    padding: 0 6.4rem 0 6.4rem;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .home-section-3 {
    padding: 6.4rem 6.4rem 0 6.4rem;
  }

  .home-section-3-content-wrapper .infinite-rotation-wrapper {
    top: 2.4rem;
    right: unset;
    left: 6.2rem;
  }
}

@media screen and (max-width: 1300px) {
  .home-section-3 {
    height: 110rem;
  }

  .home-section-3-card {
    height: max-content;
    flex-direction: column;
  }

  .home-section-3-content-wrapper {
    height: 100%;
  }

  .home-section-3-hero-img-wrapper {
    width: 20rem;
  }

  .home-section-3-hero-img-wrapper img {
    top: 26rem;
  }

  .home-section-3-hero-img-wrapper .blob2 {
    width: 21rem;
    top: 26rem;
    right: 0;
  }
}

@media screen and (max-width: 1100px) {
  .home-section-4 {
    height: auto;
    flex-direction: column;
  }

  .home-section-4-text,
  .home-section-4-card {
    width: 100%;
    align-items: center;
  }

  .home-section-4-text {
    text-align: center;
  }

  .footer-columns {
    flex-direction: column;
  }

  .footer-column {
    align-items: center;
  }

  .footer-column-1 {
    flex: 0;
  }

  .footer-area-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .footer-columns .cta-box {
    position: relative;
    width: 37.1rem;
    height: 33.1rem;
    top: 0;
    left: 0;
  }

  .footer-columns .cta-box-column {
    width: 30.7rem;
    height: 16.6rem;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
    z-index: 10;
  }

  .footer-columns .cta-box-btn {
    flex-direction: row;
  }

  .footer-columns .blob {
    transform: translate(-9rem, -17rem);
  }

  .footer-area-2 {
    width: 100%;
    margin-top: 3rem;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1000px) {
  .home-section-3-hero-img-wrapper {
    width: 12rem;
  }

  .home-section-3-hero-img-wrapper img {
    top: 34rem;
  }

  .home-section-3-hero-img-wrapper .blob2 {
    width: 13rem;
    top: 35rem;
    right: -0.4rem;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 55%;
  }

  .home-section-1-highlight-card {
    width: 100%;
    flex-direction: column;
  }

  .home-section-3-hero-text {
    width: 80%;
  }

  .footer-columns {
    height: auto;
  }

  .footer-area-1,
  .footer-area-2 {
    flex-direction: column;
  }

  .footer-area-1 .cta-box,
  .footer-column {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 45%;
  }

  .infinite-rotation-wrapper,
  .infinite-rotation {
    width: 14rem;
    height: 14rem;
  }

  .home-section-3-content-wrapper .infinite-rotation-wrapper {
    left: 50%;
    transform: translateX(-50%);
  }

  .home-section-3-hero-text {
    width: 90%;
    top: 18rem;
    left: 3.2rem;
    align-items: center;
    text-align: center;
  }

  .home-section-3-hero-img-wrapper {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 40%;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 35%;
  }

  .home-section-2-text-content {
    padding: 0;
    gap: 0;
    justify-content: space-evenly;
  }

  .home-section-3-hero {
    height: 70rem;
  }

  .home-section-3-card {
    top: 60rem;
  }
}

@media screen and (max-width: 400px) {
  .home-section-2-interactive {
    width: 100%;
  }

  .home-section-2-interactive-card {
    width: 17rem;
    height: 17rem;
  }

  .home-section-2-interactive-card-1 {
    left: 35.8rem;
  }

  .home-section-2-interactive-card-2 {
    top: 14.3rem;
    left: 7.3rem;
  }

  .home-section-2-interactive-card-3 {
    top: 31.9rem;
  }

  .home-section-2-interactive-card-4 {
    top: 27rem;
    left: 20.2rem;
  }

  .home-section-2-interactive-card-5 {
    top: 29.5rem;
    left: 35.2rem;
  }

  .home-section-2-interactive-card-emoji {
    position: relative;
    top: 1rem;
  }

  .home-section-2-interactive-card-6 {
    left: 20.2rem;
  }
}

@media screen and (max-width: 330px) {
  .home-section-3-card {
    top: 67rem;
  }

  .home-section-2-interactive {
    left: -5rem;
  }
}
/* End of responsiveness */
