@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Reset and common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Outfit", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.lets-talk-btn {
  display: flex;
  padding: 1.6rem 2.4rem;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  border-radius: 7rem;
  border: none;
  background: var(--primary, #457d61);
  color: var(--white, #fff);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
}
/* End of reset and common styles */

/* Header */
header {
  background: var(--white, #fff);
  display: flex;
  width: 144rem;
  height: 8.8rem;
  padding: 1.8rem 6.4rem;
  justify-content: center;
  align-items: center;
  gap: 25.3rem;
}

/* Logo */

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo {
  color: #333333;
  width: 11.001rem;
  height: 1.8703rem;
}

.logo-square {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 0.2rem;
  background: var(--primary, #457d61);
}
/* End of logo */

/* Navbar */
.nav {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.nav-item a {
  color: var(--text, #333);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}

.nav-item i {
  width: 1.6rem;
  height: 1.6rem;
  color: #333333;
  padding-left: 0.5rem;
}
/* End of navbar */
/* End of header */
